.slack-invite {
  background-color: #004c98;
  color: #ecf0f1;
  padding: 3em 1em;
}

.slack-invite .container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.slack-invite h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.slack-invite p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.slack-invite .container {
  align-items: center;
}

.slack-invite form.invite-sent input,
.slack-invite form.invite-sent button {
  display: none;
}

.slack-invite .slack-alert {
  display: block;
  font-size: .8em;
  margin-bottom: .5em;
}

.slack-invite .slack-alert.error {
  color: #e74c3c;
}

.slack-invite .slack-alert.success {
  font-weight:500;
  margin-bottom: 0;
}

.slack-invite input {

  /* For some reason it's not inherited from the body */
  font-family: "Montserrat", "Open Sans", Helvetica;

  display: inline-block;
  vertical-align: middle;
  padding: .5em .8em;
  border-radius: 3px;
  min-width: 260px;
  font-size: 1em;
  border: 1px solid #2980b9;
  margin-right: .5em;
}

.slack-invite button[type="submit"] {
  
  /* For some reason it's not inherited from the body */
  font-family: "Montserrat", "Open Sans", Helvetica;

  display: inline-block;
  vertical-align: middle;
  background-color: #e74c3c;
  color: #ecf0f1;
  font-weight: 600;
  padding: .9em 1.4em;
  line-height: 1;
  border-radius: 3px;
  font-size: .8em;
  text-transform: uppercase;
}

.slack-invite button[type="submit"].loading {
  opacity: .8;
}